<div class="container">
  <div style="width: 600px; " class="m-5">
    <canvas baseChart
  [datasets]="barCharData"
  [labels]="barChartLabels"
  [options]="barChartOptions"
  [legend]="barChartLegend"
  [chartType]="barChartType" >
  
</canvas>
  </div>
  <div class=" row ">
    <div class=" col-lg-6" style="height: 50px ;width: 500px;">
       <canvas baseChart
       [data]="doughnutChartData"
       [labels]="doughnutChartLabels"
       [chartType]="doughnutChartType"
       ></canvas>
    </div>
    <div class="col-lg-6" style="height: 50px ;width: 500px;">
      <canvas baseChart
      [data]="doughnutChartData1"
      [labels]="doughnutChartLabels1"
      [chartType]="doughnutChartType1"
      ></canvas>

    </div>
   

</div>
<div class="" style="width: 500px;height: 300px;"></div>
<h1>Last booking</h1>
<div class="container">
  <form>
    <div class="form-group">
      <div class="row">
        <div class="col-lg-8">
          <input type="number" class="form-control" id="formGroupExampleInput" placeholder="enter a number" #n (keyup.enter)="getByNumber(n.value)">
        </div>
        <!-- <div class="col-lg-4">
          <button class="btn btn-primary"></button>
        </div> -->
      </div>
      
    </div>
    
  </form>
  <div class="row col-md-10 col-md-offset-1 custyle">
  <table class="table table-striped custab">
  <thead>
 
      <tr>
          <th>vendor name</th>
          <th>User name</th>
          <th>date</th>
          <th>Category</th>
          <th>Cost</th>
          <th class="text-center">Action</th>
      </tr>
  </thead>
          <tr *ngFor="let item  of book" ng-repeat="item in items | limitTo:5:5">
              <td>{{item.vendorName}}</td>
              <td>{{item.userName}}</td>
              <td>{{item.bookDate}}</td>
              <td>{{item.cat_Name}}</td>
              <td>{{item.cost}}</td>
              <td class="text-center"><button class='btn btn-info btn-xs btn-border-warning' data-toggle="modal" data-target="#myModal2"><i class="fa fa-pencil-square-o text-white" aria-hidden="true"></i> Edit</button>
                      
              </td>
               <!-- Modal -->
               <div class="modal fade" id="myModal2" role="dialog">
                <div class="modal-dialog modal-sm">
                
                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Update booking</h4>
                    </div>
                    <div class="modal-body">
                      <div class="content">
                          <div class="animated fadeIn">
                              <div class="row">
                               <div class=" container">
                                   <aside class="profile-nav alt">
                                       
                                         <form class="list-group list-group-flush"> 
                                           <div class="form-group">
                                             <label class="font-weight-bold">BookDate</label>
                                             <input class="form-control" type="date" [(ngModel)]="books.BookDate" name="BookDate">
                                             <br>
                                             <label class="font-weight-bold">Cost</label>
                                             <input class="form-control" type="text" [(ngModel)]="books.Cost" name="cost">
                                             <br>
                                             <button class="btn btn-primary btn-lg" (click)="update()" data-dismiss="modal">Update </button>
                                           </div>
                                          
                               
                                         </form>
                                          
                               
                                   </aside>
                               </div>


                            </div>
                          </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                  
                </div>
              </div>
              
              
          </tr>
          
             
  </table>
                                  
                
  </div>
</div>
