<section id="team" class="pb-5">
    <div class="container">
        <h5 class="section-title h1">MY REVIEWS</h5>
       <div class="row">
       

        <div class="FilterBtn m-5 mx-auto" id="bootstrap-data-table_length">
            <label class="filtter ">Filter</label>
                <select name="bootstrap-data-table_length" aria-controls="bootstrap-data-table" class="form-control form-control-sm" *ngFor="let item of Cat;" [(ngModel)]="FilterBase" (ngModelChange)="makeFilter($event)">
                    <option value="All">All</option>
                    <option value={{item}}>{{item}}</option>
                    
                </select>
            
        </div>
        </div> 
        <div class="row">
            <!-- Team member -->
            <div  *ngFor="let item of reviews;let i = index;" class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src= {{item.image}} alt="card image"></p>
                                    <h4 class="card-title">{{item.vendor}}</h4>
                                    <p class="card-text">{{item.category}}</p>
                                    <p class="card-text">{{item.date}}</p>
                                    <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">{{item.vendor}}</h4>
                                    <p class="card-text">{{item.comment}}</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" (click)="delete(i)" data-toggle="modal" data-target=".bs-example-modal-new"  target="_blank">
                                                <i class="fa fa-remove"></i>
                                                
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                <i class="fa fa-google"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- ./Team member -->
           
            
            
           
           
        </div>
    </div>
</section>


  
  
  
  