<button type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Edit Booking </button>
    <div class="modal fade " id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
     <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Booking</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
            <div class="form-group">
                <label for="message-text" class="col-form-label">Name:</label>
                <textarea class="form-control" id="message-text"></textarea>
              </div>

          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Categorie:</label>
          <!-- Example single danger button -->
<!-- Example single danger button -->
<div class="dataTables_length" id="bootstrap-data-table_length"><label><select name="bootstrap-data-table_length" aria-controls="bootstrap-data-table" class="form-control form-control-sm"><option value="20">Makeup</option><option value="50">Veiling</option></select></label></div>
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Description:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>

          <div class="form-group">
            <label for="message-text" class="col-form-label">Cost:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>

          <div class="form-group">
            <label for="message-text" class="col-form-label">CLient Contact:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>

          
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Update</button> 
      </div>
    </div>
  </div>
</div>

