<div class="pricingTable">
    <div class="pricingTable-header">
        <div class="price-value">
            <span class="currency">4000</span>
            <span class="amount">L.E</span>
            <!-- <span class="duration">per month</span> -->
        </div>
        <div class="icon"><i class="fa fa-diamond"></i></div>
        <h3 class="title">Wedding</h3>
    </div>
    <ul class="pricing-content">
        <li>Skin Preparation for both</li>
        <li>Professional Airbrush Makeup for both</li>
        <li>Trial Prior to the Event for both Bride</li>
        
       
    </ul>
    <div class="pricingTable-signup">
        <a href="#">Update</a>
        
    </div>
</div>
