<div class="container galler">
    <span>catigory</span>
    <select (change)=(change($event.target.value))>
        <option  value="0" selected>ALL</option>
        <option *ngFor="let item of catigr " value="{{item.cat_Id}}">{{item.cat_Name}}</option>
    </select>
    <div class="container  h-100">
    <div class="d-flex justify-content-center h-100">
      <div class="searchbar">
        <input class="search_input" type="text"  #n (keyup)="search(n)" placeholder="Search...">
         <i class="fa fa-search search_icon"></i> 
      </div>
    </div>
  </div>
</div>
  <hr>
  
<div class="container">
    <h3 class="h3">Vendor Categor </h3>
    <div class="row">
        <ng-container *ngFor="let x of gellery">
        
        <div class="col-md-3 col-sm-6" *ngIf=" (x.cat_id == this.cat || cat == 0) && (vendorname == ''|| x.name.startsWith(vendorname)) " >
            <div class="product-grid">
                <div class="product-image">
                    <a href="#">
                        <img class="pic-1" [src]="x.image">
                        
                    </a>
                    <ul class="social">
                       
                        <li><a [routerLink]="['/VendorPackages',x.id]" data-tip="Show Offers"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
           
                </div>
                <ul class="rating">
                    <li class="fa fa-star" *ngFor="let item of counter(x.rate)"></li>
                    <li class="fa fa-star disable" *ngFor="let item of counter1(numderdisapper)"></li>
                </ul>
                <div class="product-content">
                    <h3 class="title"><a href="#">{{x.catagor}}</a></h3>
                    <h4 class="title"><a href="#">{{x.name}}</a></h4>  
                </div>
            </div>
        </div>
    </ng-container>
    </div>  
 
  