<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ogani | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <!-- <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css"> -->
</head>

<body>
   

   
 
  

    <!-- Product Details Section Begin -->
    <section class="product-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 m-5">
                    
                            <img [src]="product.product_image" alt="">
                       
                    
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="product__details__text">
                        <ul>
                            <li><b>Product Name</b> <span>{{product.product_name}}</span></li>
                            <li><b>Price</b> <span>{{product.price}} <samp>Pound</samp></span></li>
                            <li><b>Description </b> <span>{{product.description}}</span></li>
                        </ul>
                        
                        <button class="btn-b m-5" (click)="onClickCart()">ADD TO CARD</button>
                        
                        <!-- <ul>
                            <li><b>Availability</b> <span>In Stock</span></li>
                            <li><b>Shipping</b> <span>01 day shipping. <samp>Free pickup today</samp></span></li>
                            <li><b>Weight</b> <span>0.5 kg</span></li>
                            <li><b>Share on</b>
                                <div class="share">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                </div>
                            </li> -->
                        <!-- </ul> -->
                    </div>
                </div>
                <!-- <div class="col-lg-12">
                    <div class="product__details__tab">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab"
                                    aria-selected="true">Description</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab"
                                    aria-selected="false">Information</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tabs-1" role="tabpanel">
                                <div class="card">
                                    <h5 class="card-header">Products Description</h5>
                                    <div class="card-body">
                                      <h5 class="card-title"><b class="m-2"> Name</b> <span>{{product.product_name}}</span></h5>
                                      <p ><b class="m-2"> Description </b> <span class="card-text">{{product.description}}</span></p>
                                      
                                    </div>
                                  </div>
                            </div>
                            <div class="tab-pane" id="tabs-2" role="tabpanel">
                                <div class="product__details__tab__desc">

                                    <h6>Products Infomation</h6>
                                    <ul>
                                        <li><b>Product Name</b> <span>{{product.product_name}}</span></li>
                                        <li><b>Current Price</b> <span>{{product.price}} <samp>Pound</samp></span></li>
                                        <li><b>Old Price</b> <span>{{product.old_price}}<samp>Pound</samp></span></li>
                                         <li><b>Production Date</b> <span>{{product.prod_date|date}}</span></li>
                                         <li><b>Expiration Date </b> <span>{{product.exp_date|date}}</span></li>

                                    </ul>
                                   
                                    
                                </div>
                            </div>
                            
                            
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </section>
    <!-- Product Details Section End -->

</body>

</html>
