<div class="pricingTable">
    <div class="pricingTable-header">
        <div class="price-value">
            <span class="currency">2000</span>
            <span class="amount">L.E</span>
            <!-- <span class="duration">per month</span> -->
        </div>
        <div class="icon"><i class="fa fa-female"></i></div>
        <h3 class="title">Single</h3>
    </div>
    <ul class="pricing-content">
        <li>Light Eyeshadow Priming</li>
        <li>Mascara, Blush and Lip Glos</li>
        <li> Professional Airbrush Makeup for both</li>
        
       
    </ul>
    <div class="pricingTable-signup">
        <a href="#">Update</a>
        
    </div>
</div>