<!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->
<!------ Include the above in your HEAD tag ---------->

<div class="container">
    <div class="row col-md-10 col-md-offset-1 custyle">
    <table class="table table-striped custab">
    <thead>
   
        <tr>
            <th>User name</th>
            <th>no booking</th>
            <th>Top</th>
            <th class="text-center">Action</th>
        </tr>
    </thead>
    <tbody>  
        <tr *ngFor="let item of allusers">
            <td>{{item.email}}</td>
            <td>{{item.userName}}</td> 
            <td>{{item.books}}</td>
                <td class="text-center"><a class='btn btn-info btn-xs' href="#"><i class="fa fa-commenting text text-white" aria-hidden="true"></i> Communicate</a>
                   </td>
                <td class="text-center"><a href="#" class="btn btn-danger btn-xs"><i class="fa fa-times text-white" aria-hidden="true"></i> Del</a></td>
            </tr>
        </tbody>
  
    </table>
    </div>
</div>
 