<div class="pricingTable purple">
    <div class="pricingTable-header">
        <div class="price-value">
            <span class="currency">-1000</span>
            <span class="amount">L.E</span>
            
        </div>
        <div class="icon"><i class="fa fa-camera"></i></div>
        <h4 class="title">Winter</h4>
    </div>
    <ul class="pricing-content">
        <li>Wedding become 3000 L.E</li>
        <li>Engagment become 2000 L.E</li>
        <li>Single become 1000</li>
        
    </ul>
    <div class="pricingTable-signup">
        <a href="#">Active</a>
        <a  style="margin-left: 5px" >Update</a>
    </div>
</div>
