body {
    font-family: Helvetica, Arial, sans-serif;
    font-style: normal;
}

.overlay {
    position: absolute;
    top: 0;
    background-color: black;
    height: 500px;
    width: 100%;
    opacity: .6;
    
}

body {
    padding-top: 10px;
}

.carousel-inner>.carousel-item>img {
    width: 100%;
    height: 500px;
}

.carousel-indicators>li {
    width: 2px;
    height: 2px;
    padding: 6px;
    margin: 7px;
    border-radius: 50%;
    background-color: #fff
}

.carousel-indicators>li.active {
    background-color:#7fb3b6;
}

#intro {
    position: absolute;
    text-align: center;
    top: 8px;
    color: #fff;
    margin: auto;
    padding: 80px 150px;
}

form {

    padding: 20px 0;

}

form>input[type="text"] {
    font-size: 18px;
    line-height: 28px;
    -moz-appearance: none;
    -webkit-appearance: none;
    font-weight: 400;
    padding: 20px 25px;
    margin: 0;
    border: 0;
    border-radius: 0;
    line-height: 1em;
    height: 1em;
    box-sizing: content-box;
    outline: 0;
}

form>input[type="button"] {
    background: #73bec2;
    font-weight: 600;
    height: 1em;
    padding: 16px 17px 40px;
    color: #fff;
    cursor: pointer;
    border-radius: 0 2px 2px 0;
    user-select: none;
    white-space: pre;

    text-align: center;
}


i svg {
    width: 120px;
    height: 120px;
}

.homeTools__itemTitle {
    font-size: 16px;
    line-height: 24px;
    margin: 0 15px;
}

.homeTools__item {
    text-align: center;
    justify-content: center;
}

.homeTools__item>a {
    text-decoration: none;
    color: black;
}

.homeTools__item:hover {
    transform: scale(1.3, 1.3);
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    transition-delay: .2s;
}

.homeTools__item>a:hover {
    text-decoration: none;
    color: #73bec2;

}

.btnFlat,
.btnFlat:hover {
    background-color: #73bec2;
    width: 210px;
    height: 40px;
    border-radius: 5px;
    font-weight: bold;
    border: 0 solid #73bec2;
}

.linkprimary,
.linkprimary:hover {
    text-decoration: none;
    font-weight: bold;
    color: #73bec2;
    ;
}

.subIdea:hover {

    color: #73bec2;
}

.ideas img {
    border-radius: 50%;
    width: 100px;
    box-shadow: 5px 10px 8px #888888;
    color: #73bec2;
}

.app-general-item {
    margin: 10px;
}

.app-general-item img {
    width: 100%;

}

.app-general-item a {
    text-decoration: none;
    color: black;
}

.app-general-item a:hover {
    text-decoration: none;
    color: #73bec2;
}

.homeCatalog__categories a {
    background: transparent;
    border: 1px solid rgb(153, 152, 152);
    width: 200px;
    height: 42px;
    color: rgb(104, 94, 94);
}

.unit {
    margin: 10px;

}

.homePosts__figure img {
    width: 100%;
    height: 250px;

}
.unit img{
    width: 100%;
     height: 250px;;
}

ul.homeCategories__list-first{
    list-style: none;
    column-count: 2;
    line-height: 2;
}
ul.homeCategories__list-second{
    list-style: none;
    column-count: 3;
    line-height: 2;
}
ul.homeCategories__list-first li a,ul.homeCategories__list-second li a{
    text-decoration: none;
    color: gray;
}
.homeSection__title,.homeSection__title:hover{
    color: #73bec2;
    text-decoration: none;
}
.homeLinks__link{
    text-decoration: none;
    color: #73bec2;
}
.homeLinks__link:hover{
    text-decoration: none;
    color: #73bec2;
}
.pref{
    background-color: #d4ebec;
}
.pref-heading{
    margin-bottom: 50px;
}
