<div class="pricingTable purple">
    <div class="pricingTable-header">
        <div class="price-value">
            <span class="currency">3000</span>
            <span class="amount">L.E</span>
            
        </div>
        <div class="icon"><i class="fa fa-camera"></i></div>
        <h5 class="title">Engagment</h5>
    </div>
    <ul class="pricing-content">
        <li>Choice of Professional Airbrush Makeup</li>
        <li>False Lash Application inlcuded</li>
        <li>Traditional Makeup Application</li>
        
    </ul>
    <div class="pricingTable-signup">
        <a href="#">Update</a>
    </div>
</div>