.bg-gradient {
	background: #C9D6FF;
	background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF); 
	background: linear-gradient(to right, #E2E2E2, #C9D6FF);
	} 
	ul li {
	  margin-bottom:1.4rem;
	}
	.pricing-divider {
	border-radius: 20px;
	background: #C64545;
	padding: 1em 0 4em;
	position: relative;
	}
	.blue .pricing-divider{
	background: #2D5772; 
	}
	.green .pricing-divider {
	background: #1AA85C; 
	}
	.red b {
	  color:#C64545
	}
	.blue b {
	  color:#2D5772
	}
	.green b {
	  color:#1AA85C
	}
	.pricing-divider-img {
		position: absolute;
		bottom: -2px;
		left: 0;
		width: 100%;
		height: 80px;
	}
	.deco-layer {
		-webkit-transition: -webkit-transform 0.5s;
		transition: transform 0.5s;
	}
	.btn-custom  {
	  background:#C64545; color:#fff; border-radius:20px
	}
	
	.img-float {
	  width:50px; position:absolute;top:-3.5rem;right:1rem
	}
	
	.princing-item {
	  transition: all 150ms ease-out;
	}
	.princing-item:hover {
	  transform: scale(1.05);
	}
	.princing-item:hover .deco-layer--1 {
	  -webkit-transform: translate3d(15px, 0, 0);
	  transform: translate3d(15px, 0, 0);
	}
	.princing-item:hover .deco-layer--2 {
	  -webkit-transform: translate3d(-15px, 0, 0);
	  transform: translate3d(-15px, 0, 0);
	}
	.h:hover{
		background-color: #2D5772;
	}
	
	
	
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

.container { padding-top: 40px; }
#details { font-family: "Quicksand", sans-serif; font-size: 60px; }
#home-box > h2 { font-family: "Quicksand", sans-serif; font-weight: 400; line-height: 1.1; color: #75b1ae; }
.price { font-size: 25px; float: left; }
.pricing_header { background: none repeat scroll 0% 0% rgb(44, 62, 80); border-radius: 5px 5px 0px 0px; transition: background 0.4s ease-out 0s; }
.pricing_header h2 { text-align:center; line-height: 25px; padding: 15px 0px; margin: 0px; font-family: "Quicksand", sans-serif; font-weight: 400; color:#f8f9fa; }
.list-group-item:first-child { border-top-right-radius: 0px; border-top-left-radius: 0px; }
.btn {  font-family: "Quicksand", sans-serif; font-weight:500;}
.off { text-decoration: line-through; color: orange; }
.space {height: 2px; background-color: #75b1ae;}
.list-group {
    margin-bottom: 0px;
}
.ven{
	font-size: 25px;
	color: black;
}
.pricing-table {
    max-width: 368px;
    margin: 50px auto;
    transition: all .3s ease;
    -o-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    border-radius: 0px;
}
.pricing-table:hover {
    box-shadow: 0px 0px 30px rgba(0,0,0, .2);
}
.pricing-table:hover>.panel-footer-landing {
    box-shadow: 0px 0px 30px rgba(0,0,0, .05) inset;
    transition:  all .3s ease;
}
.pricing-table:hover>.panel>.panel-body-landing {
    background: #19b5bc;
    transition:  all .3s ease;
}
.pricing-table:hover>.panel>.panel-heading-landing-box {
    background: #f0f0f0 !important;
    color: #333 !important;
    transition:  all .3s ease;
}
.pricing-table:hover>.panel>.controle-header {
    background: #19b5bc !important;
    /*    border: solid 2px #5CB85C !important;*/
    transition:  all .3s ease;
}
.pricing-table:hover>.panel>.panel-footer {
    background: #19b5bc !important;
    /*    border: solid 2px #5CB85C !important;*/
    transition:  all .3s ease;
}
.pricing-table:hover>.panel>.panel-footer>.btn {
    border: solid 1px #fff !important;
    transition:  all .3s ease;
}
.btn-price:hover {
    background: #fff !important;
    color: #19b5bc !important;
    transition:  all .3s ease;
}
.pricing-table:hover>.panel>.controle-header>.panel-title-landing {
    color: #fff !important;
    transition:  all .3s ease;
}
.pricing-table:hover>.panel>.panel-body-landing>.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    color: #fff !important;
    transition:  all .3s ease;
}

.panel-heading-landing {
    background: #f7f7f7 !important; 
    padding: 20px !important; 
    border-top-left-radius: 10px !important;  
    border-top-right-radius: 10px !important; 
    border: solid 2px #19b5bc !important; 
    border-bottom: none !important;
}
.panel-heading-landing-box {
    background: #19b5bc!important; 
    color: #fff !important; 
    font-size: 16px !important; 
    padding: 3px !important; 
    border: solid 2px #19b5bc !important; 
    border-top: none !important;
}
.panel-title-landing {
    color: #626367 !important;
    font-size: 25px;
    font-weight: bold;
}
.panel-body-landing {
    border: solid 2px #ccc !important; 
    border-top: none !important; 
    border-bottom: none !important;
}
.panel-footer-landing {
    border: solid 2px #ccc !important; 
    border-bottom-left-radius: 10px !important; 
    border-bottom-right-radius: 10px !important; 
    border-top: none !important;
}







.course {
	
	border-radius: 10px;
	
	display: flex;
	max-width: 100%;
	margin: 20px;
	overflow: hidden;
	width: 800px;
}

.DateContainer input{
  width:  200px;
  height: 50px;
  border-radius: 10px;
  border-color: #19b5bc;
  padding: 12px 25px;
}
.course h6 {
	opacity: 0.6;
	margin: 0;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.course h2 {
	letter-spacing: 1px;
	margin: 10px 0;
}

.course-preview {
	
	color: #fff;
	padding: 30px;
	max-width: 350px;
}

.course-preview a {
	color: #fff;
	display: inline-block;
	font-size: 12px;
	opacity: 0.6;
	margin-top: 30px;
	text-decoration: none;
	
}

.course-info {
	padding: 30px;
	position: relative;
	width: 100%;
}



.btn {
	background-color: #2D5772;
	border: 0;
	border-radius: 50px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	color: #fff;
	font-size: 16px;
	padding: 12px 25px;
   margin-left: 20px;
	
	letter-spacing: 1px;
}




@media screen and (max-width: 480px) {

	.social-panel-container.visible {
		transform: translateX(0px);
	}
	
	.floating-btn {
		right: 10px;
	}
}


.title{
	text-align: center;
}
.anyClass {
	height:345px;
	overflow-y: scroll;
	border-bottom-right-radius:5px;
	border-top-right-radius:0;

  }
  ::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar {
    
    width: 8px;
    height: 10px;

  }
  ::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: #c2c9d2;
  }