<!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->
<!------ Include the above in your HEAD tag ---------->

<div class="container">
    <div class="row col-md-10 col-md-offset-1 custyle">
    <table class="table table-striped custab">
    <thead>
<a href="#" class="btn btn-primary btn-xs pull-right"><b>+</b> Add new Events</a>
        <tr>
            <th>Name</th>
            <th>collection</th>
            <th>date</th>
            
            <th class="text-center">Action</th>
        </tr>
    </thead>
            <tr>
                <td>gawaza</td>
                <td>makeup,dresses</td>
                <td>1-1-2020</td>
                
                <td class="text-center"><a class='btn btn-info btn-xs' href="#"><i class="fa fa-pencil-square-o text text-white" aria-hidden="true"></i> Edit</a>
                </td>
                <td class="text-center"><a href="#" class="btn btn-danger btn-xs"><i class="fa fa-times text-white" aria-hidden="true"></i> Del</a></td>
            </tr>
            <tr>
                <td>gawaza</td>
                <td>makeup,dresses</td>
                <td>1-1-2020</td>
                <td class="text-center"><a class='btn btn-info btn-xs' href="#"><i class="fa fa-pencil-square-o text text-white" aria-hidden="true"></i> Edit</a>
                </td>
                <td class="text-center"><a href="#" class="btn btn-danger btn-xs"><i class="fa fa-times text-white" aria-hidden="true"></i> Del</a></td>
            </tr>
            <tr>
                <td>gawaza</td>
                <td>makeup,dresses</td>
                <td>1-1-2020</td>
                <td class="text-center"><a class='btn btn-info btn-xs' href="#"><i class="fa fa-pencil-square-o text text-white" aria-hidden="true"></i> Edit</a>
                </td>
                <td class="text-center"><a href="#" class="btn btn-danger btn-xs"><i class="fa fa-times text-white" aria-hidden="true"></i> Del</a></td>
            </tr>
    </table>
    </div>
</div>

