<div class="card-body">
    <h4 class="card-title box-title">Live Chat</h4>
    <div class="card-content">
        <div class="messenger-box">
            <ul>
                <li>
                    <div class="msg-received msg-container">
                        <div class="avatar">
                           <img src="" alt="">
                           <div class="send-time">11.11 am</div>
                        </div>
                        <div class="msg-box">
                            <div class="inner-box">
                                <div class="name">
                                    <!-- {{client.clientName}} -->
                                    Nevine Ahmed
                                </div>
                                <div class="meg">
                                    Begaaad thank you geddan ya Dalia el makeup kan yeeeganeeen :* :* 
                                </div>
                            </div>
                        </div>
                    </div><!-- /.msg-received -->
                </li>
                <li>
                    <div class="msg-sent msg-container">
                        <div class="avatar">
                           <img src="" alt="">
                           <!-- {{NowDate}} -->
                           <div class="send-time">11.11 am</div>
                        </div>
                        <div class="msg-box">
                            <div class="inner-box">
                                <div class="name">
                                    <!-- {{Vendor.vendorName}} -->
                                    Dalia Darwich
                                </div>
                                <div class="meg">
                                    El 3afw 3o2bal elfarah isa 
                                </div>
                            </div>
                        </div>
                    </div><!-- /.msg-sent -->
                </li>
            </ul>
            <div class="send-mgs">
                <div class="yourmsg">
                    <input class="form-control" type="text">
                </div>
                <button class="btn msg-send-btn">
                    <i class="pe-7s-paper-plane"></i>
                </button>
            </div>
        </div><!-- /.messenger-box -->
    </div>
</div> <!-- /.card-body -->
