<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<section class="login-block">
  <div class="alert alert-warning alert-dismissible fade show" role="alert" *ngIf="this.message !=''     ">
    {{message}}
   <button type="button" class="close" data-dismiss="alert" aria-label="Close">
     <span aria-hidden="true">&times;</span>
   </button>
  </div>
    <div class="container">
	<div class="row">
		<div class="col-md-4 login-sec">
      
      
            <h2 class="text-center">Register</h2>
            <form class="text-center" [formGroup]="userForm" *ngIf="checkclass == 1" (ngSubmit)="register()">
<span style="margin-bottom: 5px;"> Register as </span>
              <select style="height: 32px; width: 120px; background-color:rgb(184, 93, 138);font-family: Arial;color: white; font-weight:600;margin-bottom: 5px;" #r (change)="type($event)">
               <option value="1">Vendor</option>
                <option value="2">User</option>
                </select>
              <input type="text" formControlName="UserName"  class="form-control mb-4" placeholder="UserName">
             <div *ngIf="!this.userForm.get('UserName').valid && this.userForm.get('UserName').touched">
              <small *ngIf="this.userForm.get('UserName').errors.required == true "  class="form-text  text-danger   mb-4">
                {{this.massageValidator.UserName.required}}
              </small>
              <small *ngIf="this.userForm.get('UserName').errors.minlength"  class="form-text  text-danger   mb-4">
                {{this.massageValidator.UserName.minLength}}
              </small>
              <small *ngIf="this.userForm.get('UserName').errors.maxlength"  class="form-text  text-danger   mb-4">
                {{this.massageValidator.UserName.maxlength}}
                
              </small>
            </div>
              <!-- E-mail -->
              <input type="email" formControlName="Email" class="form-control mb-4" placeholder="E-mail">
              <small *ngIf="!this.userForm.get('Email').valid && this.userForm.get('Email').touched"  class="form-text text-danger   mb-4">
                {{this.massageValidator.Email.required}}
              </small>

              <!-- Password -->
              <input type="password"   formControlName="Password" class="form-control" placeholder="Password"
               >
               <div *ngIf="!this.userForm.get('Password').valid && this.userForm.get('Password').touched">      
                <small  class="form-text text-danger mb-4" *ngIf="this.userForm.get('Password').errors.required == true" >
                  {{this.massageValidator.Password.required}}
              </small>
              <small  class="form-text text-danger mb-4" *ngIf="this.userForm.get('Password').errors.minLength !== null" >
                {{this.massageValidator.Password.required}}
     
              </small>
            </div>
     
              <input type="password"  formControlName="ConfirmPassword" class="form-control  mt-4" placeholder="ConfirmPassword"
             >
             <div *ngIf="!this.userForm.get('ConfirmPassword').valid && this.userForm.get('ConfirmPassword').touched">      
              <small  class="form-text text-danger mb-4" *ngIf="this.userForm.get('ConfirmPassword').errors.required == true" >
             required 
            </small>
            <small  class="form-text text-danger mb-4" *ngIf="this.userForm.get('ConfirmPassword').errors.minLength !== null" >
              At least 8 characters and 1 digit
            </small>
           
          </div>
          <small  class="form-text text-danger mb-4" *ngIf="!checkpassandconfirm()" >
            not matched
          </small>
     <div style="height:200;width:15000">
     
     </div>
             
     
              <!-- Sign up button -->
              <button class="btn my-4 btn-block  btn-login" type="submit" [disabled]="this.userForm.invalid || !checkpassandconfirm()" >Register</button>
    </form>
 
		</div>
		<div class="col-md-8 banner-sec">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                 <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                  </ol>
            <div class="carousel-inner" role="listbox">
    <div class="carousel-item active sec">
      <img class="d-block img-fluid " src="./../../../assets/images/l2.jpg" alt="First slide">
      <div class="carousel-caption d-none d-md-block">
        <div class="banner-text">
          <h4>A wedding is a ceremony where two people are united in marriage</h4>
        </div>	
  </div>
    </div>
    <div class="carousel-item sec">
      <img class="d-block img-fluid" src="./../../../assets/images/l4.jpg" alt="First slide">
      <div class="carousel-caption d-none d-md-block">
        <div class="banner-text">
          <h4>A wedding is a ceremony where two people are united in marriage</h4>
            
        </div>	
    </div>
    </div>
    <div class="carousel-item sec">
      <img class="d-block img-fluid " src="./../../../assets/images/l8.jpg" alt="First slide">
      <div class="carousel-caption d-none d-md-block">
        <div class="banner-text">
          <h4>A wedding is a ceremony where two people are united in marriage</h4>
        </div>	
    </div>
  </div>
            </div>	   
		    
		</div>
	</div>
</div>
</div>
</section>