<div class="pricingTable">
    <div class="pricingTable-header">
        <div class="price-value">
            <span class="currency">-500</span>
            <span class="amount">L.E</span>
            <!-- <span class="duration">per month</span> -->
        </div>
        <div class="icon"><i class="fa fa-diamond"></i></div>
        <h3 class="title">Summer</h3>
    </div>
    <ul class="pricing-content">
        <li>Wedding become 3500</li>
        <li>engagment become 2500</li>
        <li>Single become 1500</li>
        
       
    </ul>
    <div class="pricingTable-signup">
        <a href="#">Active</a>
        <a  style="margin-left: 5px" >Update</a>
    </div>
</div>