
        <!-- Begin Page Content -->
        <div class="container-fluid">

           
            <!-- DataTales Example -->
            <div class="row">
                <div class="col-lg-4 col-md-6">
            <div class="card shadow mb-4">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Top Users</h6>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-striped" id="dataTable" width="100%" cellspacing="0">
                    
                    
                    <tbody>
                      <tr>
                        
                        <td>Tiger Nixon</td>
                        <td>15</td>

                        </tr>
                      <tr>
                        <td>Garrett Winters</td>
                        <td>13</td>
                        </tr>
                      <tr>
                        <td>Ashton Cox</td>
                        <td>10</td>
                        
                      </tr>
                      <tr>
                        <td>Cedric Kelly</td>
                        <td>8</td>
                        
                      </tr>
                      <tr>
                        <td>Airi Satou</td>
                        <td>7</td>
                        
                      </tr>
                      <tr>
                        <td>Brielle Williamson</td>
                        <td>5</td>
                        
                        
                      </tr>
                      <tr>
                        <td>Herrod Chandler</td>
                        <td>4</td>
                        
                      </tr>
                      <tr>
                        <td>Rhona Davidson</td>
                        <td>3</td>
                        </tr>
                    </tbody>
                  </table>
                  <button type="button" class="btn btn-primary">View complete report <i class="fa fa-arrow-right"></i></button>
                </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="card shadow mb-4">
                  <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Top Catagories</h6>
                  </div>
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table table-striped" id="dataTable" width="100%" cellspacing="0">
                        
                        
                        <tbody>
                          <tr>
                            
                            <td>Make Up artist</td>
                            <td>200</td>
    
                            </tr>
                          <tr>
                            <td>Photographer</td>
                            <td>180</td>
                            </tr>
                          <tr>
                            <td>Hair Stylist</td>
                            <td>160</td>
                            
                          </tr>
                          <tr>
                            <td>Decoration</td>
                            <td>140</td>
                            
                          </tr>
                          <tr>
                            <td>Hotel</td>
                            <td>70</td>
                            
                          </tr>
                          <tr>
                            <td>Flourish</td>
                            <td>50</td>
                            
                            
                          </tr>
                          <tr>
                            <td>Herrod Chandler</td>
                            <td>30</td>
                            
                          </tr>
                          <tr>
                            <td>Rhona Davidson</td>
                            <td>20</td>
                            </tr>
                        </tbody>
                      </table>
                      <button type="button" class="btn btn-primary">View complete report <i class="fa fa-arrow-right"></i></button>
                    </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="card shadow mb-4">
                      <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Top Vendor</h6>
                      </div>
                      <div class="card-body">
                        <div class="table-responsive">
                          <table class="table table-striped" id="dataTable" width="100%" cellspacing="0">
                            
                            
                            <tbody>
                              <tr>
                                
                                <td>Dalia Darwish</td>
                                <td>Make Up Artist</td>

                                <td>300</td>
        
                                </tr>
                              <tr>
                                <td>Mohamed Ghalab</td>
                                <td>Photographer</td>

                                <td>280</td>
                                </tr>
                              <tr>
                                <td>Salma Emam</td>
                                <td>Decoration</td>

                                <td>250</td>
                                
                              </tr>
                              
                              <tr>
                                <td>Hilton Plaze</td>
                                <td>Hotel</td>

                                <td>200</td>
                                
                              </tr>
                              <tr>
                                <td>Mirage</td>
                                <td>Hotel</td>

                                <td>190</td>
                                
                                
                              </tr>
                              <tr>
                                <td>Lagoon</td>
                                <td>Hotel</td>

                                <td>170</td>
                                
                              </tr>
                             
                            </tbody>
                          </table>
                          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">View complete report <i class="fa fa-arrow-right"></i></button>
                        </div>
                        </div>
                      </div>
                    </div>
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">More info</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <form>
                              <table class="table table-striped" id="dataTable" width="100%" cellspacing="0">
                        
                        
                                <tbody>
                                  <tr>
                                    
                                    <td>Make Up artist</td>
                                    <td>200</td>
            
                                    </tr>
                                  <tr>
                                    <td>Photographer</td>
                                    <td>180</td>
                                    </tr>
                                  <tr>
                                    <td>Hair Stylist</td>
                                    <td>160</td>
                                    
                                  </tr>
                                  <tr>
                                    <td>Decoration</td>
                                    <td>140</td>
                                    
                                  </tr>
                                  <tr>
                                    <td>Hotel</td>
                                    <td>70</td>
                                    
                                  </tr>
                                  <tr>
                                    <td>Flourish</td>
                                    <td>50</td>
                                    
                                    
                                  </tr>
                                  <tr>
                                    <td>Herrod Chandler</td>
                                    <td>30</td>
                                    
                                  </tr>
                                  <tr>
                                    <td>Rhona Davidson</td>
                                    <td>20</td>
                                    </tr>
                                </tbody>
                              </table>
                            </form>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">print report</button>
                          </div>
                        </div>
                      </div>
                    </div>
  </div>
          </div>
       
  
       