
        <!-- Begin Page Content -->
        <div class="container-fluid">

           
            <!-- DataTales Example -->
            <div class="row">
                <div class="col-lg-4 col-md-6">
            <div class="card shadow mb-4">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Top Users</h6>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-striped" id="dataTable" width="100%" cellspacing="0">
                    
                    <thead>
                      <tr>
                        <td>Name</td>
                        <td>Count</td>

                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of topuser">
                        
                        <td>{{item.username}}</td>
                        <td>{{item.count}}</td>

                        </tr>
                    
                    </tbody>
                  </table>
                  <button type="button" class="btn btn-primary">View complete report <i class="fa fa-arrow-right"></i></button>
                </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="card shadow mb-4">
                  <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Top Catagories</h6>
                  </div>
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table table-striped" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                          <tr>
                            <td>Name</td>
                            <td>Count</td>

                          </tr>
                        </thead>
                        
                        <tbody>
                          <tr *ngFor="let item of topcatagory">
                            
                            <td>{{item.catname}}</td>
                            <td>{{item.count}}</td>
    
                            </tr>
                          
                        </tbody>
                      </table>
                      <button type="button" class="btn btn-primary">View complete report <i class="fa fa-arrow-right"></i></button>
                    </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="card shadow mb-4">
                      <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Top Vendor</h6>
                      </div>
                      <div class="card-body">
                        <div class="table-responsive">
                          <table class="table table-striped" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                              <tr>
                                <td>Name</td>
                                <td>Count</td>

                              </tr>
                            </thead>
                            
                            <tbody>
                              <tr *ngFor="let item of topvendor">
                        
                                <td>{{item.username}}</td>
                                <td>{{item.count}}</td>
        
                                </tr>
                              
                            </tbody>
                          </table>
                          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">View complete report <i class="fa fa-arrow-right"></i></button>
                        </div>
                        </div>
                      </div>
                    </div>
  </div>
          </div>
       
  
       